#canvas {
    max-width: 600px;
}

.row {
    display: flex;

}


.pixel {
    background-color: blue;
    outline: 1px solid black;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}