body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header, .footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


#canvas {
    display: grid;
    width: 600px;
    height: 600px;
    grid-auto-rows: 1fr;
    pointer-events: none;
    
}

.pixel {
    outline: .2px solid rgb(231, 231, 231);
    pointer-events: auto;
    user-select: none;
}

.footer{
    padding: 25px;
}