body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header, .footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}


#canvas {
    max-width: 600px;
}

.row {
    display: flex;

}


.pixel {
    background-color: blue;
    outline: 1px solid black;
}

.footer{
    padding: 25px;
}